.select-container__time {
  height: 175px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  gap: 10px;
  padding: 67.5px 0;
  background-color: aqua;
  .hours__item {
    min-height: 20px;
    display: grid;
    place-items: center;
    transition: all 0.5s ease;
    animation: deselectItem 0.5s linear;
    p {
      color: #8a95ab;
      font-weight: 2;
    }
  }
  .selected {
    min-height: 40px;
    // background-color: red;
    width: 100%;
    animation: selectItem 0.5s linear;
    p {
      color: #121418;
      font-size: 22px;
      font-weight: 700;
    }
  }
}

@keyframes selectItem {
  from {
    font-size: 17px;
    color: #8a95ab;
    min-height: 20px;
  }

  to {
    font-size: 20px;
    color: #121418;
    min-height: 40px;
  }
}

@keyframes deselectItem {
  from {
    font-size: 20px;
    min-height: 40px;
    color: #121418;
  }

  to {
    font-size: 17px;
    color: #8a95ab;
    min-height: 20px;
  }
}
