.anchor__tab-wrapper {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 78px;
    height: 10px;
    background: linear-gradient(
      180deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .anchor__header {
    padding: 20px 24px;
    display: flex;
    gap: 8px;
  }
  .header__item__anchor {
    padding: 10px;
  }
  .selected__anchor {
    background-color: bisque;
    border-radius: 5px;
  }
}
.anchor__scroll {
  padding-top: 20px;
  height: calc(100vh - 132px);
  overflow: scroll;
}
