.input__style {
  min-height: 42px;
  border: 2px solid blue;
  border-radius: 5px;
}

.content__container {
  height: calc(100vh - 166px);
  overflow: auto;
}

.fixed__btn {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  padding: 0 24px;
  background-color: white;
  z-index: 10000;
  transform: translate(0, 0);
}

.button {
  background: blue;
  width: 100%;
  padding: 15px 0;
  border: none;
  border-radius: 20px;
}
