.container__image {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .section {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    .item {
      height: 100px;
      width: 100px;
      overflow: hidden;
      background-color: red;
      display: grid;
      place-items: center;
      animation: opacity 0.3s linear;
      transition: all 0.4s linear;
      .hidden {
        display: none;
      }
      .btn__upload {
        background-color: aqua;
        border: none;
        padding: 10px;
        border-radius: 10px;
        color: gray;
      }
      .img {
        position: relative;
        height: 100%;
        width: 100%;
        touch-action: none;
        transition: transform 0.2s ease-in-out;
      }
      .preview__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      .icon__remove {
        position: absolute;
        right: 5px;
      }
    }
    .item.hovering {
      transform: scale(1.2);
      transition: transform 0.2s ease-in-out;
    }
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
