.page__container {
  padding: 0 24px;
  padding-top: 20px;
  .upload__file {
    border: 1px solid blue;
    height: 100px;
    width: 100%;
    border-radius: 4px;
    margin-top: 10px;
    display: grid;
    place-items: center;
    .input__file {
      display: none;
    }
    .upload__img{
      width: 50px;
      
    }
  }
}
